<% if logged_in? %>
  <p>ログイン完了ユーザ: <%= current_user.name %></p>
<% else %>
  <ul>
    <li class="nav-item"><%= link_to 'Signup', signup_path, class: 'nav-link' %></li>
    <li class="nav-item"><a href="#" class="nav-link">Login</a></li>
  </ul>
<% end %>